
/* MENU */
#navcontainer ul
{
padding-left: 0;
margin-left: 0;
background-color: #FFCA5E;
color: White;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
}
#navcontainer ul:hover{
    background-color: #FA0;
    
}
#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 10px 1em;
background-color: #036;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color:#032;
color: #fff3e0;
}
.current
{
background-color:#fff3e0;
color: #036;
}
h4.w3e{

	display: block;
    margin:  20px 0 10px 0;
	font-weight: bold;
	width:100%;
    float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #05B;
	padding: 7px;
	border-bottom: 3px solid #84A7DB;
}
/* logo */

#w3e_logo a img:hover{
    background-color: #FFCA5E;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ALLVM */
#allVmFilter{
    margin: 5px 5px 10px 30px;   
    float:left; 
	width:800px;
	
}
#allVmFilter div select {
	width:150px;
	height:100px;
 
   
}
#allVmFilter #server, #allVmFilter #product, #allVmFilter #client, #allVmFilter #other {
	width:190px;
	height:150px;
	margin: 0 0 0 10px;
	float: left;
}
#allVmFilter #sort{
	width: 250px;
	float: left;
	margin: 40px 0 0 5px;
}

#allVmFilter #clearButton,#allVmFilter #reverseButton{
	float:right;
	margin: 2px 5px 7px 5px;
	text-align:center;
	font-size:9px;
	background: #FFCA5E;
	border: dotted 1px #FF9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 3px 6px;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
    color:gray;
}

#allVmFilter #clearButton:hover ,#allVmFilter #reverseButton:hover {
	background: #FF9;
    border: dotted 1px #FFCA5E;
}
#allVmFilter #server p, #allVmFilter #product p, #allVmFilter #client p{
	margin: 0 0 7px 0;
}
#allVmFilter #other p select {
	width:60px;
	height:30px;
	margin: 4px 0 0 10px;
	
}
#allVmFilter #ip, #allVmFilter #vmid {
	margin: 5px 2px 1px 0;
	float:right;
	width: 130px;
}
#allVmFilter #sort p select {
	width:200px;
	height:30px;
}

#allVmFilter #submitbutton{
	float:right;
	width: 100px;
	height: 40px;
	padding: 2px;
	margin: 110px 200px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#allVmFilter #submitbutton:hover{

	background-color:#090;
}
#allVmFilter h3 {
color: #FA0;
}
#allVmFilter fieldset{
    font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF9;
    border-color:#FA0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
background: rgb(191,210,85); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */

}
#allVmFilter fieldset:hover{
	background-color:#fff3e0;	
}
#allVmFilter legend {
color:#333;
background: #FF9;
border: dashed 2px #FFCA5E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 6px;
font-style:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

/* Settings & Support page */
#W3E_Settings table,
#W3E_Support table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 650px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	margin: 0 auto;
}
#W3E_Settings h3,#W3E_Support h3{
	color: #FFAA00;	
}
#W3E_Support table{
	width:450px;	
}
#W3E_Settings caption,
#W3E_Support caption {
    direction:ltr;
	font: 1.8em/1.8em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption.jpg) right top;
	height: 45px;
	color: #FFAA00;
}
#W3E_Settings td:first-child,#W3E_Support td:first-child {
    direction:ltr;
	background-color:#036;
	width:230px;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: none;
    text-shadow: 1px 1px 1px #000;
}
#W3E_Support td:first-child{
	width:180px;	
}
#W3E_Settings tr,#W3E_Support tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_Settings tr:hover,#W3E_Support tr:hover {
    background-color:#fff3e0;
}
#W3E_Settings th,#W3E_Settings td,
#W3E_Support th,#W3E_Support td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_Settings a,#W3E_Support a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_Support a{
	text-decoration: underline;
}
#W3E_Settings a:hover,#W3E_Support a:hover {
	color: #F8A704;
	text-decoration: none;
}

#subtr_root td:last-child:hover {
	background-color: #032;
}
#subtr_root td:last-child,#subtr_root td:first-child  {
	background-color: #032;
}
#W3E_Settings_Submit{
	width: 40px;
	margin: 20px auto;	
}
#W3E_Settings_Submit input{
	width: 100px;
	height: 40px;
	padding: 2px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#W3E_Settings_Submit input:hover{

	background-color:#090;
}
#W3E_license{
	width: 320px;
	margin: 2px 5%;	
}

/* Home Update */
#W3E_Home_Update{
	width: 120px;
	height: 50px;
	margin: 100px auto;	
}
#W3E_Home_Update input{
	width: 120px;
	height: 50px;
	padding: 2px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 10px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
    float:left;
}
#W3E_Home_Update input:hover{

	background-color:#090;
}

/* Servers */
#W3E_serverstates{
    margin: 5px auto;
    width: 500px;
    display: block;
    
}
#W3E_serverstates table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 500px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	text-align:center;
    margin: 0 auto;
    float: left;
    
}

#W3E_serverstates thead th {
    direction:ltr;
	background-color:#036;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: 0px solid #FCF1D4;
    text-shadow: 1px 1px 1px #000;
}
#W3E_serverstates tbody tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_serverstates tbody tr:hover {
    background-color:#fff3e0;
}
#W3E_serverstates tbody td:hover {
    background-color:#fff3e0;
}
#W3E_serverstates tbody th,
#W3E_serverstates tbody td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_serverstates a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_serverstates a:hover {
	color: #F8A704;
	text-decoration: none;
}
#w3e_server_menu {
	width: 100px;
	float:left;
	margin-right: 5px;
	
}
#w3e_submit_servers {
	width: 25px;
	height: 20px;
	padding: 2px;
    float: left;
    margin: auto 2px;
    margin-left: 15px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#w3e_submit_servers:hover{

	background-color:#090;
}
	
/* Server Command */
#W3E_Command{
	width: 600px;
	margin: 0 auto;	
}
#W3E_Command h3{
	color: #FFAA00;	
}


#w3e_command_submit{
	width: 100px;
	height: 40px;
	padding: 2px;
	margin: 20px auto;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#w3e_command_submit:hover{

	background-color:#090;
}
#w3e_request{
	width: 400px;
	height:100px;
	margin: 0 100px;
	
}
#w3e_response{
	width: 400px;
	height:150px;
	margin: 0 100px;
	
}
#w3e_commons{
	width:500px;
	margin: 0 50px 50px 50px;	
	text-align:center;
}
#w3e_common_btn{
	float:left;
	margin: 3px 3px;
	height: 35px;
	padding: 5px;
	display:block;
	background: #fff;
	border: solid 2px #FFCA7F;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #15A9FF;
	text-align:center;
	-moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
	font-style:bold;
	font-family:"Trebuchet MS",Arial, Helvetica, sans-serif;
}
#w3e_common_btn:hover{
	background-color: #17C9FF;
	color: #333;
}
#w3e_request{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	margin-top: 20px;	
	border: solid 2px #036;
}
#w3e_request:hover{
	background-color:#fff3e0;
}
#w3e_response{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-family:"Courier New", Courier, monospace;
	font-size:12px;
	color:#333;
	border: solid 2px #032;
}
/* Message */
#W3EMessage{
	display: block;
    margin:  5px 0;
	font-weight: bold;
	width:100%;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;

}
#W3EMessage ul{
	color: #05B;
	margin-bottom: 10px;
	list-style: none;
	padding: 10px;
	border-top: 3px solid #84A7DB;
	border-bottom: 3px solid #84A7DB;
}
#W3EMessage ul li{
	color: #05B;
	list-style: none;	
}
/* ERROR */
#W3EMessage ul.error{
	background-color:#F9D2D3;
	color: #C00;
	border-top: 3px solid #C00;
	border-bottom: 3px solid #C00;
}
#W3EMessage ul.error li{
	color: #C00;	
}
/* warning */
#W3EMessage ul.warning{
	background-color:#FDEABD;
	color: #F60;
	border-top: 3px solid #F60;
	border-bottom: 3px solid #F60;
}
#W3EMessage ul.warning li{
	color: #F60;	
}
/* success */
#W3EMessage ul.success{
	background-color:#D3F5DA;
	color: #00661A;
	border-top: 3px solid #00661A;
	border-bottom: 3px solid #00661A;
}
#W3EMessage ul.success li{
	color: #00661A;	
}

/* Remove VMID */
#W3E_RemoveNotUsed{
	width:400px;
	margin: 0 auto;
}
#W3E_RemoveNotUsed input[type=checkbox]{
	
	margin: 7px 5px;
	float:left;
	
}
#W3E_RemoveNotUsed label{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F70;
	font-style:bold;
	float:left;
	margin: 5px 50px 0 0;
}

#W3E_RemoveNotUsed_Submit {
    width: 80px;
    height: 30px;
    padding: 2px;
    margin: 0;
    float:left;
    display: block;
    background-color: #00661A;
    color: white;
    border: none;
    text-align: center;
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	
	
}
#W3E_RemoveNotUsed_Submit:hover{

	background-color:#090;
}

/* log */
#logFilter{
    margin: 5px 5px 10px 30px;   
    float:left; 
	width:800px;
	
}
#logFilter div select {
	width:150px;
	height:100px;
 
   
}
#logFilter #server, #logFilter #product, #logFilter #client, #logFilter #other {
	width:190px;
	height:150px;
	margin: 0 0 0 10px;
	float: left;
}
#logFilter #logs{
	width: 300px;
	float: left;
	margin: 40px 0 0 5px;
}

#logFilter #clearButton,#logFilter #reverseButton{
	float:right;
	margin: 2px 5px 7px 5px;
	text-align:center;
	font-size:9px;
	background: #FFCA5E;
	border: dotted 1px #FF9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 3px 6px;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
    color:gray;
}

#logFilter #clearButton:hover ,#logFilter #reverseButton:hover {
	background: #FF9;
    border: dotted 1px #FFCA5E;
}
#logFilter #server p, #logFilter #product p, #logFilter #client p{
	margin: 0 0 7px 0;
}
#logFilter #other p select {
	width:60px;
	height:30px;
	margin: 4px 0 0 10px;
	
}
#logFilter #ip, #logFilter #vmid {
	margin: 5px 2px 1px 0;
	float:right;
	width: 130px;
}
#logFilter #logs p select {
	width:200px;
	height:30px;
}
#logFilter #server, #logFilter #product, #logFilter #client {
}
#logFilter #submitbutton{
	float:right;
	width: 100px;
	height: 40px;
	padding: 2px;
	margin: 130px 150px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#logFilter #submitbutton:hover{

	background-color:#090;
}
#logFilter h3 {
color: #FA0;
}
#logFilter fieldset{
    font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF9;
    border-color:#FA0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
background: rgb(191,210,85); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */

}
#logFilter fieldset:hover{
	background-color:#fff3e0;	
}
#logFilter legend {
color:#333;
background: #FF9;
border: dashed 2px #FFCA5E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 6px;
font-style:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
#logFilter #w3e_date1{
	width:90px;
    
}
#logFilter #w3e_date2{
	width:90px;
    
 
}

/* Quick Insert */
#qInsertFilter{
    margin: 5px 5px 10px 30px;   
    float:left; 
	width:800px;
	
}
#qInsertFilter div select {
	width:150px;
	height:100px;
 
   
}
#qInsertFilter #server, #qInsertFilter #product, #qInsertFilter #client, #qInsertFilter #other {
	width:190px;
	height:150px;
	margin: 0 0 0 10px;
	float: left;
}
#qInsertFilter #qinsert{
	width: 200px;
	float: left;
	margin: 40px 0 0 10px;
}

#qInsertFilter #clearButton,#qInsertFilter #reverseButton{
	float:right;
	margin: 2px 5px 7px 5px;
	text-align:center;
	font-size:9px;
	background: #FFCA5E;
	border: dotted 1px #FF9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 3px 6px;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
    color:gray;
}

#qInsertFilter #clearButton:hover ,#qInsertFilter #reverseButton:hover {
	background: #FF9;
    border: dotted 1px #FFCA5E;
}
#qInsertFilter #server p, #qInsertFilter #product p, #qInsertFilter #client p{
	margin: 0 0 7px 0;
}
#qInsertFilter #other p select {
	width:60px;
	height:30px;
	margin: 4px 0 0 10px;
	
}
#qInsertFilter #ip, #qInsertFilter #vmid {
	margin: 5px 2px 1px 0;
	float:right;
	width: 130px;
}

#qInsertFilter #server, #qInsertFilter #product, #qInsertFilter #client {
}
#qInsertFilter #submitbutton{
	float:right;
	width: 100px;
	height: 40px;
	padding: 2px;
	margin: 80px 100px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#qInsertFilter #submitbutton:hover{

	background-color:#090;
}
#qInsertFilter h3 {
color: #FA0;
}
#qInsertFilter fieldset{
    font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF9;
    border-color:#FA0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
background: rgb(191,210,85); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */

}
#qInsertFilter fieldset:hover{
	background-color:#fff3e0;	
}
#qInsertFilter legend {
color:#333;
background: #FF9;
border: dashed 2px #FFCA5E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 6px;
font-style:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

#qInsertFilter #sort{
	width: 250px;
	float: left;
	margin: 40px 0 0 10px;
}
#qInsertFilter #sort p select {
	width:200px;
	height:30px;
}
/* removeVMID&Log */
#removeVMID{
    margin: 5px auto;   
    
	width:650px;
	
}
#removeVMID div select {
	width:150px;
	height:100px;
 
   
}
#removeVMID #server, #removeVMID #product, #removeVMID #client  {
	width:190px;
	height:150px;
	margin: 0 0 0 10px;
	float: left;
}
#removeVMID #other {
	width:200px;
	height:150px;
	float:left;
	margin: 40px 0 0 10px;
}
#removeVMID #logs{
	width: 300px;
	float: left;
	margin: 40px 0 0 10px;
}

#removeVMID #clearButton,#removeVMID #reverseButton{
	float:right;
	margin: 2px 5px 7px 5px;
	text-align:center;
	font-size:9px;
	background: #FFCA5E;
	border: dotted 1px #FF9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 3px 6px;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
    color:gray;
}

#removeVMID #clearButton:hover ,#removeVMID #reverseButton:hover {
	background: #FF9;
    border: dotted 1px #FFCA5E;
}
#removeVMID #server p, #removeVMID #product p, #removeVMID #client p{
	margin: 0 0 7px 0;
}

#removeVMID #ip, #removeVMID #vmid {
	margin: 5px 2px 1px 0;
	float:right;
	width: 130px;
}
#removeVMID #logs p select {
	width:200px;
	height:30px;
}
#removeVMID #server, #removeVMID #product, #removeVMID #client {
}
#removeVMID #submitbutton{
	float:right;
	width: 100px;
	height: 40px;
	padding: 2px;
	margin: 100px 5px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#removeVMID #submitbutton:hover{

	background-color:#090;
}
#removeVMID h3 {
color: #FA0;
}
#removeVMID fieldset{
    font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF9;
    border-color:#FA0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
background: rgb(191,210,85); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */

}
#removeVMID fieldset:hover{
	background-color:#fff3e0;	
}
#removeVMID legend {
color:#333;
background: #FF9;
border: dashed 2px #FFCA5E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 6px;
font-style:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
#removeVMID #w3e_date1{
	width:90px;
    
}
#removeVMID #w3e_date2{
	width:90px;

}

/* setProducts */
#setProducts{
    margin: 5px auto;    
	width:350px;
	
}
#setProducts div select {
	width:150px;
	height:100px;
 
   
}
#setProducts #product{
	width:190px;
	height:150px;
	margin: 0 0 0 10px;
	float: left;
}


#setProducts #clearButton,#setProducts #reverseButton{
	float:right;
	margin: 2px 5px 7px 5px;
	text-align:center;
	font-size:9px;
	background: #FFCA5E;
	border: dotted 1px #FF9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 3px 6px;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
    color:gray;
}

#setProducts #clearButton:hover ,#setProducts #reverseButton:hover {
	background: #FF9;
    border: dotted 1px #FFCA5E;
}
#setProducts #product p{
	margin: 0 0 7px 0;
}

#setProducts #submitbutton{
	float:left;
	width: 100px;
	height: 40px;
	padding: 2px;
	margin: 70px 3%;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 3px 3px 5px #888;
    -webkit-box-shadow: 3px 3px 5px #888;
    box-shadow: 3px 3px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#setProducts #submitbutton:hover{

	background-color:#090;
}

#setProducts fieldset{
    font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
	color:#FF9;
    border-color:#FA0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
background: rgb(191,210,85); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzcyYWEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZWNiMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-8 */

}
#setProducts fieldset:hover{
	background-color:#fff3e0;	
}
#setProducts legend {
color:#333;
background: #FF9;
border: dashed 2px #FFCA5E;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 6px;
font-style:bold;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

/* Logs Table */
#W3E_logtable table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 800px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	text-align:center;
	margin: 0 auto;
}

#W3E_logtable thead th {
    direction:ltr;
	background-color:#036;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 5px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: 1px solid #FCF1D4;
    text-shadow: 1px 1px 1px #000;
}
#W3E_logtable tbody tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_logtable tbody tr:hover {
    background-color:#fff3e0;
}
#W3E_logtable tbody th,
#W3E_logtable tbody td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 3px 2px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_logtable a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_logtable a:hover {
	color: #F8A704;
	text-decoration: none;
}
#W3E_logtable textarea{
	border-right: 1px solid #DDDDDD;
	font-size:10px;
	font-family:"Courier New", Courier, monospace; 	
	width: 130px;
	height: 25px;
}

/* Pagination */

#w3e_pagination{
	width: 120px;
	margin: 20px auto;

}
#w3e_page_manu{
    width: 40px;
    text-align: center;
    float: left;
    margin: 10px;
}
#w3e_page_submit {
    width: 40px;
    height: 20px;
    padding: 2px;
    float: left;
    margin: 9px 5px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#w3e_page_submit:hover{

	background-color:#090;
}

/* Quick Insert table */
#W3E_quicktable table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 800px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	text-align:center;
	margin: 0 auto;
}

#W3E_quicktable thead th {
    direction:ltr;
	background-color:#036;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 5px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: 1px solid #FCF1D4;
    text-shadow: 1px 1px 1px #000;
}
#W3E_quicktable tbody tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_quicktable tbody tr:hover {
    background-color:#fff3e0;
}
#W3E_quicktable tbody th,
#W3E_quicktable tbody td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 3px 2px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_quicktable a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_quicktable a:hover {
	color: #F8A704;
	text-decoration: none;
}
#W3E_quicktable textarea{
	border-right: 1px solid #DDDDDD;
	font-size:10px;
	font-family:"Courier New", Courier, monospace; 	
	width: 130px;
	height: 25px;
}
#W3E_quicktable optgroup{
	font-style:normal;
	font-weight:bold;
	color:#00f;
	background-color:#ddd;
}
#w3e_save{
	margin: 30px 40%;
	width: 300px;
		
}
#w3e_save_manu{
	width: 150px;
    margin: 5px 5px;
	text-align:center;
	float:left;	
}
#w3e_save_submit {
	width: 50px;
	height: 25px;
	padding: 2px;
	float:left;
	margin: 1px 5px;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#w3e_save_submit:hover{

	background-color:#090;
}
/* PHPINFO */
#w3e_phpinfo{
	width: 750px;
	height: 450px;
	margin: 10px auto;
	overflow:scroll;	
}

/* ALL VM TABLE */
#W3E_allvmtable table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 800px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	text-align:center;
	margin: 0 auto;
}

#W3E_allvmtable thead th {
    direction:ltr;
	background-color:#036;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 5px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: 1px solid #FCF1D4;
    text-shadow: 1px 1px 1px #000;
}
#W3E_allvmtable tbody tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_allvmtable tbody tr:hover {
    background-color:#fff3e0;
}
#W3E_allvmtable tbody th,
#W3E_allvmtable tbody td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 3px 2px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_allvmtable a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_allvmtable a:hover {
	color: #F8A704;
	text-decoration: none;
}
#W3E_allvmtable textarea{
	border-right: 1px solid #DDDDDD;
	font-size:10px;
	font-family:"Courier New", Courier, monospace; 	
	width: 130px;
	height: 25px;
}
#W3E_allvmtable optgroup{
	font-style:normal;
	font-weight:bold;
	color:#00f;
	background-color:#ddd;
}
#w3e_command{
	margin: 30px 30%;
	width: 500px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	
		
}
#w3e_allvm_back_manu{
	width: 160px;
	text-align:center;
		
}
#w3e_action_menu{
	width: 120px;
	text-align:center;
    margin: 0 5px;
		
}
#w3e_allvm_submit {
	width: 40px;
	height: 20px;
	padding: 2px;
	float:right;
	margin: 1px 110px 0 0;
	display:block;
	background-color: #00661A;
	color: #fff;
	border: none;
	text-align:center;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
	font-style:bold;
	font-family:Arial, Helvetica, sans-serif;
}
#w3e_allvm_submit:hover{

	background-color:#090;
}

/* VMs */
#W3E_servervmlist {
	margin: 5px auto;
	display: block;
	width: 600px;
}
#W3E_servervmlist table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 600px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	text-align:center;
    margin: 0 auto;
	float:left;
}

#W3E_servervmlist thead th {
    direction:ltr;
	background-color:#036;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: 0px solid #FCF1D4;
    text-shadow: 1px 1px 1px #000;
}
#W3E_servervmlist tbody tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_servervmlist tbody tr:hover {
    background-color:#fff3e0;
}
#W3E_servervmlist tbody th,
#W3E_servervmlist tbody td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_servervmlist a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_servervmlist a:hover {
	color: #F8A704;
	text-decoration: none;
}

/* serverinfo + datastore list  */
#W3E_Serverinfo,#W3E_datastorelist{
	margin: 5px auto;
	display: block;
	width: 500px;
}
#W3E_Serverinfo table,
#W3E_datastorelist table {
    direction:ltr;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
	width: 500px;
	border-collapse:collapse;
	border:1px solid #FFCA5E;
	margin: 0 auto;
	float:left;
}
#W3E_Serverinfo h3,#W3E_datastorelist h3{
	color: #FFAA00;	
}
#W3E_Serverinfo caption,
#W3E_datastorelist caption {
    direction:ltr;
	font: 1.8em/1.8em Arial, Helvetica, sans-serif;
	text-align: left;
	text-indent: 10px;
	background: url(bg_caption.jpg) right top;
	height: 45px;
	color: #FFAA00;
}
#W3E_Serverinfo td:first-child,#W3E_datastorelist td:first-child {
    direction:ltr;
	background-color:#036;
	width:180px;
	height: 47px;
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0px 7px;
	margin: 20px 0px 0px;
	text-align: center;
	border-right: none;
    text-shadow: 1px 1px 1px #000;
}
#W3E_Serverinfo tr,#W3E_datastorelist tr {
    direction:ltr;
    background-color:#fff;
}
#W3E_Serverinfo tr:hover,#W3E_datastorelist tr:hover {
    background-color:#fff3e0;
}
#W3E_Serverinfo th,#W3E_Serverinfo td,
#W3E_datastorelist th,#W3E_datastorelist td {
    direction:ltr;
	font-size: 0.8em;
	line-height: 1.4em;
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	padding: 10px 7px;
	border-top: 1px solid #FFCA5E;
	border-right: 1px solid #DDDDDD;
	text-align: center;
}
#W3E_Serverinfo a,#W3E_datastorelist a {
    direction:ltr;
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}
#W3E_datastorelist a{
	text-decoration: underline;
}
#W3E_Serverinfo a:hover,#W3E_datastorelist a:hover {
	color: #F8A704;
	text-decoration: none;
}